@import "../../variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;800&display=swap");

.hero {
  height: 100vh;
  background: linear-gradient(191deg, rgba(0, 203, 169, 1) 0%, rgba(182, 194, 192, 1) 100%);
  padding: 1rem;

  &__title {
    color: black;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 2rem 2rem 0 2rem;
    line-height: 1.25;
    align-self: flex-end;
  }
  &__subtitle {
    font-weight: 300;
    font-size: 2rem;
    letter-spacing: 1.25rem;
  }
}

.hero__content {
  position: relative;
  z-index: 1000;
  background-color: $main-offwhite;
  height: 100%;
  box-shadow: $box-shadow;
  display: grid;
  grid-template-rows: 40% 60%;
  grid-template-columns: 1fr;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  // align-content: center;
  justify-content: center;
  justify-items: center;
}

.wave {
  position: absolute;
  top: 0;
  left: 0;
}

.hero__select {
  // transform: translateY(-5rem);
  padding: 5rem;
  width: 35rem;
  grid-row: 2;
  grid-column: 1;

  @media only screen and (max-width: 800px) {
    align-self: center;
  }
}

::selection {
  background-color: $main-color;
}
