@import "../../variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;800&display=swap");

.hero {
  height: 100vh;
  background: linear-gradient(191deg, rgba(0, 203, 169, 1) 0%, rgba(182, 194, 192, 1) 100%);
  padding: 1rem;

  &__title {
    color: black;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 2rem;
    line-height: 1.25;
  }
  &__subtitle {
    font-weight: 300;
    font-size: 2rem;
    letter-spacing: 1.25rem;
  }
}

.hero__content {
  position: relative;
  z-index: 1000;
  background-color: $main-offwhite;
  height: 100%;
  box-shadow: $box-shadow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.wave {
  position: absolute;
  top: 0;
  left: 0;
}

.hero__select {
  // transform: translateY(-5rem);
  padding: 2rem;
  width: 30rem;
}

::selection {
  background-color: $main-color;
}
