@import "../../variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
.select {
  &__container {
    height: 30rem;
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }
}

.select__dropdown {
  @media only screen and (max-width: 1200px) {
  }
}

.selectContainer {
}

.select {
  &__input {
    width: 100%;
    padding: 1rem;
    &:focus,
    &:active {
      outline: none;
    }
  }

  &__label {
    position: absolute;
    color: $main-color;
    transition: all 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    top: 0;
    left: 0;
  }
}

.select__option {
  // height: 100%;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  &-img {
    width: 4rem;
    height: 4rem;
  }
  &-info {
    // height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    align-content: flex-end;
  }
  &-name {
    @media only screen and (max-width: 1200px) {
      transform: translateY(0.8rem);
      font-size: 1.6rem;
    }
    font-size: 1.5rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
  }

  &-email {
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
  }
}

.ant-select-selection-item .select__option {
  flex-direction: row;
  height: 100%;
  justify-content: space-between;
}

.ant-select-selection-item .select__option .select__option-info {
  transform: scale(1);
}

.ant-select-selection-item .select__option .select__option-info .select__option-name {
  margin-top: 3.7rem;
}
.ant-select-selection-item .select__option .select__option-info .select__option-name {
}

.ant-select-selection-item .select__option img {
  width: 3rem;
  height: 3rem;
  border: $sub-color;
}

.tescik {
  pointer-events: none;
  background: $main-color !important;
}

.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background-color: $main-color;
  color: white;
}

input[type="text"] {
  border: none;
}

.ant-select-focused {
  outline: none;
  box-shadow: none;
}

.ant-select-selector {
  border: none;
  box-shadow: none;
  outline: none;
}

.ant-select-focused.ant-select-multiple .ant-select-selector {
  box-shadow: 0 0 0 2px rgba(0, 203, 169, 0.2) !important;
}

.ant-select-multiple {
  box-shadow: none;
}

.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
  border: 1px $main-color solid !important;
}

.ant-select-selector:not(:hover) .ant-select:focus {
  border: 1px $main-color solid !important;
}

.ant-select-multiple .ant-select-selector:hover {
  border: 1px $main-color solid !important;
}

.ant-select-selector:not(:hover) {
  border: 1px $main-color solid !important;
}

::selection {
  background-color: $main-color;
}

.ant-select-selection-search-input::selection {
  background-color: $main-color;
  color: white;
}

// ant-select ant-select-multiple ant-select-show-search and-select-open ant-select-focused -ant-select-show-search

.ant-select-item-option-disabled {
  background: $sub-color !important;
  color: white !important;
}

.ant-select-focused.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  border-color: #40a9ff;
  border-right-width: 1px !important;
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(0, 203, 169, 0.2) !important;
  box-shadow: 0 0 0 2px rgba(0, 203, 169, 0.4) !important;
}
