@import "../../variables.scss";
.posts {
  &__button {
    width: 20rem;
    padding: 1rem;
    border: none;
    background: $main-color;
    border-radius: 1rem;
    font-family: "Raleway", sans-serif;
    color: white;
    font-weight: 1000;
    transition: all 1s;
    position: absolute;
    bottom: 0;

    &:hover,
    &:focus,
    &:active {
      background: $sub-color;
      cursor: pointer;
      box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.17);
      transform: translateY(-0.2rem);
    }
  }

  &__post {
    background: white;
    font-family: "Open sans", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    border-radius: 1rem 1rem 0 0;

    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }
}

.show__comments {
  background: $main-color;
  padding: 1rem;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 1.8rem;
  border-radius: 0.5rem 0.5rem;
  transition: all 0.2s;
  border: none;

  &:hover {
    background-color: $sub-color;
    cursor: pointer;
  }

  &:active {
    transform: translateY(1rem);
  }
}

.post {
  &__body {
    padding: 1rem;
  }
  &__user {
    width: max-content;
    height: 2rem;
    align-self: flex-start;
    font-size: 1.2rem;
    font-weight: 300;
    top: -1.7rem;
    left: -1rem;
  }

  &__header {
    background: $main-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 2rem;
    color: white;
    border-radius: 1rem 1rem 0 0;

    &-wrapperuser {
      position: relative;
      flex: 30%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    &-wrappertitle {
      flex: 70%;
      font-weight: 700;
    }
  }

  &__img {
    height: 6rem;
    width: 6rem;
    border-radius: 1rem;
  }
}
